<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-03-31T14:19:48Z</date>
	<key>WorkspacePath</key>
	<string>/Users/josephhall/Desktop/Code/PopUpCircleTest/Pop Up Circle Test.xcworkspace</string>
</dict>
</plist>
